body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

form {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.checkbox-group label {
    font-weight: normal;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004AAD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003080;
}
#foto-motorista {
  padding: 5px;
  border: 1px dashed #ccc;
  background: #f9f9f9;
}

small {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-top: 5px;
}